/* line 1, ../../Site/scss/base/_base.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../../Site/scss/base/_base.scss */
body {
  width: 100%;
  max-width: 1924px;
  min-width: 1036px;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 1, ../../Site/scss/blocks/_header.scss */
.header {
  width: 1924px;
  height: 224px;
  background-color: rgba(0, 0, 0, 0.48);
  position: fixed;
}

/* line 10, ../../Site/scss/blocks/_header.scss */
.header__container {
  max-width: 1135px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* line 20, ../../Site/scss/blocks/_header.scss */
.header__logo {
  margin-top: 40px;
  margin-bottom: 24px;
  flex: 0 1 auto;
  align-self: center;
}

/* line 26, ../../Site/scss/blocks/_header.scss */
.header__buttons {
  display: flex;
}

/* line 30, ../../Site/scss/blocks/_header.scss */
.header__buttons-menu nav a {
  color: #ffffff;
  font-family: 'PT Sans';
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  flex: 0 1 auto;
  align-self: center;
  text-decoration: none;
  margin-right: 61px;
  letter-spacing: normal;
}

/* line 42, ../../Site/scss/blocks/_header.scss */
.header__buttons-menu nav a:hover {
  border-top: #980052 solid 2px;
  border-bottom: #980052 solid 2px;
}

/* line 49, ../../Site/scss/blocks/_header.scss */
.header__search {
  display: flex;
  width: 255px;
  height: 40px;
  border: 2px solid #ffffff;
  background-color: #000000;
  opacity: 0.30;
}

/* line 58, ../../Site/scss/blocks/_header.scss */
.header__search-input-wrapper {
  display: flex;
  align-items: center;
}

/* line 64, ../../Site/scss/blocks/_header.scss */
.header__search-input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* line 78, ../../Site/scss/blocks/_header.scss */
.header__search-button-wrapper {
  flex-grow: 1;
  color: #ffffff;
}

/* line 83, ../../Site/scss/blocks/_header.scss */
.header__search-button {
  background-color: transparent;
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* line 1, ../../Site/scss/blocks/_header-links.scss */
.header-link-button {
  display: flex;
  align-items: center;
  margin-top: 53px;
}

/* line 8, ../../Site/scss/blocks/_header-links.scss */
.header-link__icon {
  position: relative;
  width: 43px;
  height: 35px;
  color: #ffffff;
}

/* line 14, ../../Site/scss/blocks/_header-links.scss */
.header-link__icon:not(:last-child) {
  margin-right: 30px;
}

/* line 19, ../../Site/scss/blocks/_header-links.scss */
.header-link--notify .header-link__icon::after {
  position: absolute;
  bottom: -9px;
  right: -15px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #980052;
  text-align: center;
}

/* line 1, ../../Site/scss/blocks/_carousel.scss */
.carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  left: 0;
  right: 0;
  background-image: url("./../../img/slider/slider.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 14, ../../Site/scss/blocks/_carousel.scss */
.carousel__item-title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 400;
  margin-top: 396px;
}

/* line 21, ../../Site/scss/blocks/_carousel.scss */
.carousel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 70px;
  background-color: #980052;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 24px;
  margin-top: 88px;
}

/* line 1, ../../Site/scss/blocks/_carousel-theme.scss */
.carousel-section {
  max-width: 1924px;
}

/* line 5, ../../Site/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

/* line 16, ../../Site/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav [class*='owl-']:hover {
  opacity: 0.7;
}

/* line 20, ../../Site/scss/blocks/_carousel-theme.scss */
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

/* line 26, ../../Site/scss/blocks/_carousel-theme.scss */
.owl-carousel.owl-theme .owl-nav button.owl-prev,
.owl-carousel.owl-theme .owl-nav button.owl-next {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  margin-top: -399px;
  background-repeat: no-repeat;
  outline: none;
}

/* line 37, ../../Site/scss/blocks/_carousel-theme.scss */
.owl-carousel.owl-theme .owl-nav button.owl-prev {
  left: 205px;
  background-image: url("./../../img/slider/button_prev.png");
}

/* line 42, ../../Site/scss/blocks/_carousel-theme.scss */
.owl-carousel.owl-theme .owl-nav button.owl-next {
  right: 208px;
  background-image: url("./../../img/slider/button_next.png");
}

/* line 1, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section {
  background-image: url("./../../img/stock2/background.jpg");
  max-width: 1924px;
  height: 442px;
}

/* line 7, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-row {
  display: flex;
  margin: 61px;
  justify-content: center;
}

/* line 14, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-1 {
  flex-direction: column;
  align-items: center;
  margin-right: 188px;
  margin-top: 61px;
}

/* line 23, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-2 {
  flex-direction: column;
  align-items: center;
  max-width: 419px;
  margin-top: 88px;
}

/* line 31, ../../Site/scss/blocks/_stock_2-section.scss */
.colortext-1 {
  color: #fff600;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 400;
}

/* line 38, ../../Site/scss/blocks/_stock_2-section.scss */
.colortext-2 {
  color: #fff600;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
}

/* line 45, ../../Site/scss/blocks/_stock_2-section.scss */
.colortext-3 {
  color: #fff600;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 400;
  top: 3;
}

/* line 53, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-1-title {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

/* line 60, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-2-title {
  width: 421px;
  height: 24px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-weight: 400;
}

/* line 73, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-1-middle {
  display: inline-flex;
  max-width: 286px;
}

/* line 80, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-1-img img {
  flex-shrink: 0;
  padding: 19px 29px 30px 27px;
}

/* line 86, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-1-subtitle {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding-top: 45px;
}

/* line 95, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-1-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 70px;
  background-color: #980052;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
}

/* line 109, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-2-middle {
  display: inline-flex;
  max-width: 410px;
  height: 145px;
  margin-top: 9px;
}

/* line 119, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-2-img img {
  flex-shrink: 0;
  padding: 24px 30px 31px 6px;
}

/* line 125, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-2-subtitle {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding-top: 28px;
}

/* line 134, ../../Site/scss/blocks/_stock_2-section.scss */
.stock_2-section-col-2-button {
  display: flex;
  width: 350px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: #980052;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 400;
}

/* line 1, ../../Site/scss/blocks/_footer.scss */
footer {
  background-color: #d3d3d3;
}

/* line 5, ../../Site/scss/blocks/_footer.scss */
.footer-content {
  height: 241px;
  max-width: 1924px;
}

/* line 11, ../../Site/scss/blocks/_footer.scss */
footer-content-row {
  display: flex;
  flex-direction: row;
}

/* line 16, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-1 {
  padding-top: 35px;
  margin-left: 504px;
  width: 251px;
  height: 100px;
  text-align: left;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}

/* line 26, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-1 h3 {
  color: #4b4a4a;
}

/* line 31, ../../Site/scss/blocks/_footer.scss */
.footer_work-time-table {
  color: #6a6969;
  margin-top: 14px;
}

/* line 34, ../../Site/scss/blocks/_footer.scss */
.footer_work-time-table td {
  padding-left: 15px;
}

/* line 40, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 776px;
  margin-top: 36px;
  width: 372px;
  height: 170px;
}

/* line 49, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-2 a {
  text-decoration: none;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  color: #4b4a4a;
}

/* line 57, ../../Site/scss/blocks/_footer.scss */
.footer_content-col-2-phone {
  background: url(./../../img/footer/phone.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-top: -96px;
}

/* line 64, ../../Site/scss/blocks/_footer.scss */
.footer_content-col-2-mail {
  margin-top: 25px;
}

/* line 67, ../../Site/scss/blocks/_footer.scss */
.footer_content-col-2-pay {
  margin-top: 25px;
}

/* line 70, ../../Site/scss/blocks/_footer.scss */
.footer_content-col-2-rights {
  color: #4b4a4a;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

/* line 78, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -269px;
  margin-left: 800px;
}

/* line 85, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-3 h3 {
  color: #4b4a4a;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}

/* line 93, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-3-icons {
  padding-top: 18px;
}

/* line 96, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-3-icons a {
  width: 38px;
  height: 38px;
}

/* line 100, ../../Site/scss/blocks/_footer.scss */
.footer-content-col-3-icons a:not(:last-child) {
  padding-right: 30px;
}

/*# sourceMappingURL=main.css.map */