.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    height: 800px;
    left: 0;
    right: 0;
    background-image: url("../../img/slider/slider.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel__item-title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 400;
    margin-top: 396px;
}
.carousel__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 70px;
    background-color: #980052;
    text-decoration: none;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 24px;
    margin-top: 88px;
}