footer {
    background-color: #d3d3d3
    
}
.footer-content {
    
    height: 241px;
    max-width: 1924px;
}

footer-content-row {
    display: flex;
    flex-direction: row;
}

.footer-content-col-1 {
    padding-top: 35px;
    margin-left: 504px;
    width: 251px;
    height: 100px;
    text-align: left;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    
    h3 {
        color: #4b4a4a; 
    }
}

.footer_work-time-table {
    color: #6a6969;
    margin-top: 14px;
    td {
        padding-left: 15px;
    }
    
}

.footer-content-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 776px;
    margin-top: 36px;
    width: 372px;
    height: 170px;
    
    a {
        text-decoration: none;
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 400;
        color: #4b4a4a;
    }
}
.footer_content-col-2-phone {
    background: url(./../../img/footer/phone.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-top: -96px;
}

.footer_content-col-2-mail {
    margin-top: 25px;
}
.footer_content-col-2-pay {
    margin-top: 25px;
}
.footer_content-col-2-rights {
    color: #4b4a4a;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.footer-content-col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -269px;
    margin-left: 800px;

    h3 {
        color: #4b4a4a;
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 400;
    }
}

.footer-content-col-3-icons {
    padding-top: 18px;
}
.footer-content-col-3-icons a {
    width: 38px;
    height: 38px;
    
    &:not(:last-child) {
        padding-right: 30px;
    }
}