.header {
    width: 1924px;
    height: 224px;
    background-color: rgba(0,0,0,.48);
    position: fixed;
    z-index: 2;
};


.header__container {
    max-width: 1135px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
};

header.sticky {
    display: flex;
    height: 115px;
    background-color: rgba(0,0,0,.48);
    text-align: left;
    transition: all 0.4s ease;

    }

.header__logo {
   margin-top: 40px;
   margin-bottom: 24px;
   flex: 0 1 auto;
   align-self: center;
};
.header__buttons {
    display: flex;
};

.header__buttons-menu nav a {
    color: #ffffff;
    font-family: 'PT Sans';
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    flex: 0 1 auto;
    align-self: center;
    text-decoration: none;
    margin-right: 61px;
    letter-spacing: normal;
    
    &:hover {
        border-top: #980052 solid 2px;
        border-bottom:  #980052 solid 2px;
    }
};


.header__search {
    display: flex;
    width: 255px;
    height: 40px;
    border: 2px solid #ffffff;
    background-color: #000000;
    opacity: 0.30;
};

.header__search-input-wrapper {
    display: flex;
    align-items: center;
    
};

.header__search-input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;    
};

.header__search-button-wrapper {   
    flex-grow: 1;
    color: #ffffff;
};

.header__search-button {
    background-color: transparent;
    border: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
};

